::selection {
    background-color: white;
    color: #FFBC42;
}

body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    background-color: #FFBC42;
}

h1 {
    background-color: white;
    z-index: 1;
    padding-top: 125px;
    padding-bottom: 250px;
    padding-left: 90px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 100;
    font-size: 72px;
    color: #333333;
}

.pieChart {
    margin-right: 150px;
    width: 400px;
    height: 400px;
}

section {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-top: 50px;
    margin-top: -150px;
    width: 100%;
    position: relative;
    background-color: #FFBC42;
}

#userInput {
    z-index: 1;
    margin-bottom: 20px;
    padding: 15px;
    height: 69px;
    background-color: #FFBC42;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 48px;
    color: white;
}

.result {
    color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    font-size: 32px;
}

#userInput::placeholder {
    color: white;
    opacity: 75%;
    font-size: 42px;
}

.title {
    color: #FFFFFF;
    font-size: 48px;
    margin-top: 20px;
}

.resultsTitle {
    color: #FFFFFF;
    font-size: 72px;
    margin-top: 100px;
    font-weight: 200;
}

button {
    z-index: 1;
    border-style: none;
    width: 350px;
    height: 162px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 48px;
    line-height: 56px;
    color: #FFBC42;
}

button:hover {
    cursor: pointer;
    font-weight: 100;
}

.dropbtn {
    z-index: 1;
    height: 69px;
    border-radius: 5px;
    width: 100%;
    background-color: #FFFFFF;
    color: #FFBC42;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    z-index: 1;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 15px 15px;
}

.dropdown-content a {
    z-index: 1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #FFBC42;
    font-size: 26px;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.submitButton {
    margin-left: 50px;
    width: 500px;
}

.ImageContainer {
    padding: 0;
    margin: 0;
    top: -140px;
    z-index: 2;
    right: -100px;
    position: absolute;
    width: 550px;
    height: 300px;
}

.ImageContainer .Upper {
    height: 50%;
    background-size: 200px;
    background-image: url("IntersectUpRight.svg");
    background-repeat: no-repeat;
}

.ImageContainer .Lower {
    margin-top: -10px;
    margin-left: 60px;
    height: 50%;
    background-size: 200px;
    background-image: url("IntersectUpRightWhiteFlipped.svg");
    background-repeat: no-repeat;
}

.pieChart {
    margin-top: 50px;
    margin-right: -100px;
    height: 700px;
    width: 700px;
}

.results {
    color: white;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 15px;
    line-height: 200px;
}

.TheRow {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    transition: transform 0.5s, height 0.5s;
}

.highlightText {
    font-size: 48px;
    font-weight: 500;
}

.TheMainTwo {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.TheMainThree {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 100px;
    width: 60%;
}

.output {
    opacity: 0%;
}